.container{
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    flex-direction: column;
}

body{
    background-color: black;
}

canvas{
    position:fixed;

}
